<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>

    <dv class="wrapper">
      
      <header>
        <h1 class="site-title">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="site-tagline">{{ site.description | default: site.github.project_tagline }}</p>

        <nav class="main-nav">
          <ul>
            
            <li><a href="/topo-personal-bio/about">About Me</a></li>
            <li><a href="/topo-personal-bio/contact">Contacts</a></li>
          </ul>
        </nav>

          {% if site.github.is_project_page or site.github.is_user_page %}
            <ul>
              <li><a class="buttons github" href="{{ site.github.repository_url }}">
                  <i class="fab fa-github"></i> View On GitHub
              </a></li>
            </ul>
          {% endif %}

        {% if site.github.is_project_page %}
          <p class="maintainer-info"> Maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
          </p>
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">
                <i class="fab fa-github"></i> GitHub Profile
            </a></li>
          </ul>
        {% endif %}

      </header>

      <section class="card">
        <h2 id="Welcome">About Me</h2>
        {{ content }}

      </section>

      </div>
            <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
  </body>
  
</html>
